<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      {{'POSTS' | translate}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngFor="let event of eventsData">
  <ion-card *ngIf="event.end > now">

    <ion-card-header>
      <div *ngIf="event.image_url">
        <ion-img [src]="event.image_url" class="ion-no-padding"></ion-img>
      </div>
      <ion-card-title>&nbsp;{{ event.name | htmlenc}}</ion-card-title>
      <ion-card-subtitle>&nbsp;{{ event.event_subtitle | htmlenc }}</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>

      <div *ngIf="event.location_name">
        <br>
        <h4>{{ event.location_name }}</h4>
      </div>
      <div *ngIf="event.location_address">
        <h4>{{ event.location_address }}</h4>
      </div>

      <div *ngIf="event.location_lat">
        <div *ngIf="event.location_lon">
        <br>
        <ion-button expand="block" (click)="openMapsLink(event.location_lat , event.location_lon)">
          <ion-ripple-effect></ion-ripple-effect>
          <ion-icon name="map"> </ion-icon>&nbsp;{{'MAP' | translate}}
        </ion-button>
        </div>
      </div>

      <br>
      <div [innerHTML]="event.details"></div>
      <br>
    </ion-card-content>

  </ion-card>
</div>
</ion-content>
